

/* Create two unequal columns that float next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;

}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 30px;
    margin-bottom: 8.6px;
}

/* Add a card effect for articles */
.card{
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

