<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top"
             src="/media/{{ product.image }}"
             alt="Card image cap"
             style="height: 350px; width: 100%; display: block">
        <div class="card-body">
            <!-- Card's main content section -->
            <p class="card-text">{{ product.name|title }}</p>
            <hr>
            <p class="card-text">From {{ product.price|floatformat }} $</p>
            <hr>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between ">
                <div class="btn-group-sm">
                    <a href="{% url 'catalog:product_detail' product.id %}" type="button"
                       class="btn btn-sm btn-outline-primary">View</a>
                    <a href="/#/" type="button" class="btn btn-sm btn-outline-primary ">Add to
                        cart</a>
                </div>
                {% if product.in_stock %}
                    <span class="text-success">In Stock</span>
                {% else %}
                    <span class="text-danger">Out of stock</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
