<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'catalog:index' %}" >Home</a></li>
        <li class="nav-item active">
            <a href="{% url 'catalog:contacts' %}" class="nav-link">Contact</a></li>
        <li class="nav-item active">
            <a href="{% url 'catalog:products' %}" class="nav-link">Products</a></li>
        <li class="nav-item active">
        <a href="{% url 'materials:list' %}" class="nav-link">Materials</a></li>
    </ul>
</div>