{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About Us</h4>
                <p>Your compelling brand story or mission statement goes here.</p>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Address: Street Name, City Name, United States</p>
                <p>Phone: <a href="">123-456-7890</a></p>
                <p>Email: <a href="">emaio@gmail.com</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <a>&copy; 2022 - {% now 'Y' %} Your Company. All rights reserved.</a>
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
            </div>
        </div>
    </div>
</footer>
