{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/style_contacts.css' %}">
</head>
<body>
<div class="header">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">Skystore</h5>
    <nav class="navbar">
        <a class="btn btn-primary" role="button" href="/">Home</a>
    </nav>
</div>
<div class="container">
    <h1>Contact Us</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <input class="btn-primary" type="submit" value="Submit">
    </form>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-links">
            <a class="footer-link" href="#">Рассылки</a>
            <a class="footer-link" href="#">Телеграм боты</a>
            <a class="footer-link" href="#">Полезные утилиты</a>
            <a class="footer-link" href="#">Веб-приложения</a>
            <a class="footer-link" href="#">Микросервисы</a>
        </div>
        <h1 class="footer-logo">Skystore</h1>
        <p class="footer-text">&copy; 2023 Skystore. All rights reserved.</p>
        <div class="footer-links">
            <a class="footer-link" href="#">Мы пишем</a>
            <a class="footer-link" href="/contacts/">Контакты</a>
        </div>
    </div>
</footer>
</body>
</html>
