{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                Office Moscow<br>
                Office St. Petersburg
            </p>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card mb-4 bos-shadow">
        <div class="card-body">
            <form method="post">
                <h2>Contact Us</h2>
                {% csrf_token %}
                <input type="email" class="form-control" id="Email"
                       placeholder="name@example.com" required>
                <label for="Email"></label>

                <input type="password" class="form-control" id="password"
                       placeholder="Password" required>
                <label for="password"></label>

                <textarea class="form-control " id="message" placeholder="Message" rows="5"
                          required></textarea>
                <label for="message"></label>

                <button class="btn btn-primary form-control" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}