{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skystore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body class="body">
<div class="header">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">Skystore</h5>
    <nav class="navbar">
        <a class="btn-btn-primary" role="button" href="/contacts/">Contact Us</a>
    </nav>
</div>
<div class="hero-section">
    <h1 class="hero-title">Skystore</h1>
    <p class="hero-description">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы
        хотели продать</p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 pricing-card">
            <div class="card mb-4 box-shadow">
                <div class="card-header pricing-card-header"><h4 class="my-0 font-weight-normal pricing-title">Удобный
                    сервис рассылок</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-amount">$140</h1>
                    <ul class="pricing-list">
                        <li class="pricing-list-item">Неограниченная лицензия</li>
                        <li class="pricing-list-item">Поддержка</li>
                        <li class="pricing-list-item">Установка на сервер</li>
                        <li class="pricing-list-item">Получение обновлений</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-links">
            <a class="footer-link" href="#">Рассылки</a>
            <a class="footer-link" href="#">Телеграм боты</a>
            <a class="footer-link" href="#">Полезные утилиты</a>
            <a class="footer-link" href="#">Веб-приложения</a>
            <a class="footer-link" href="#">Микросервисы</a>
        </div>
        <h1 class="footer-logo">Skystore</h1>
        <p class="footer-text">&copy; 2023 Skystore. All rights reserved.</p>
        <div class="footer-links">
            <a class="footer-link" href="#">Мы пишем</a>
            <a class="footer-link" href="/contacts/">Контакты</a>
        </div>
    </div>
</footer>
</body>
</html>